Compact download/storage of newer resource revisions

With the addition of the `--stale-before` CLI option, it is now possible to force Crystal to download new (fresh) revisions of a resource even if an older (now-stale) revision of the same resource was already downloaded.

However when downloading the new resource revision, a Regular HTTP Fetch is currently used, resulting in the transmission and storage of an HTTP 200 OK and the entire new resource body. In the common case where the new revision's body is identical to an older revision's body, this is inefficient.

Implement:
* [x] Use a [Conditional HTTP Fetch] (with the [If-Modified-Since] and/or [If-None-Match] HTTP request headers) based on the [Last-Modified] and/or [ETag] HTTP response headers of stored revisions, to only **transmit a compact HTTP 304 Not Modified** in the common case where a new revision's body matches an older revision's body.
* [x] **Store such a compact HTTP 304 Not Modified** as a resource revision itself, and provide a utility method on ResourceRevision to calculate which prior revision an HTTP 304 Not Modified revision is referring to. Use that utility method appropriately in all code that reads ResourceRevisions to treat a stored HTTP 304 Not Modified as if it were the original HTTP 200 response with some† of the HTTP 304's headers overlaid onto it.

Test:
* [x] test can mark revisions older than particular date as stale and redownload them
    * [x] ⏳ Requires starting a mock web server with a simulated website, so that precise requests & responses can be checked
    * ––
    * [x] ...and that revisions are fetched efficiently with a conditional http fetch
    * [x] ...and that unmodified revisions are stored efficiently as an http 304, and can be served
    * [x] ...and that modified revisions are stored, and can be served

† Specifically the following headers mentioned in [RFC 7232 §4.1]: Cache-Control, Content-Location, Date, ETag, Expires, and Vary.

[Conditional HTTP Fetch]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Conditional_requests
[If-Modified-Since]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since#syntax
[If-None-Match]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match
[Last-Modified]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified
[ETag]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag
[RFC 7232 §4.1]: https://httpwg.org/specs/rfc7232.html#status.304

Trigger for implementing this feature is when **attempting to a large-scale revalidation of a previously downloaded website**. Without this feature, the entire website would just be downloaded/stored a second time rather than storing compact pointers to older revisions in the common case that a page has not changed.

Removing the "releaseworthy" label because this individual item probably doesn't qualify. However the larger feature of **a fully-implemented workflow for refreshing the downloaded version of an entire archived site** _would_ be releaseworthy.